/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Quicksand:wght@300;400;500;600;700&display=swap");

/*
font-family: 'Major Mono Display', monospace;
font-family: 'Zen Kurenaido', sans-serif;
 */

:root {
  --mainFont: "Quicksand", sans-serif;
  --headerFont: "Major Mono Display", monospace;
  --bgColor: rgb(39, 40, 43);
  --bgLight: rgb(75, 72, 72);
  --bgDark: rgb(24, 24, 26);
  --mainColor: rgb(54, 76, 179);
  --mainColorDark: rgb(46, 31, 131);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bgColor);
}

h1,
h2 {
  font-family: var(--headerFont);
  font-size: 1.5rem;
  grid-column: 1 / -1;
  color: #fff;
}
h2 {
  text-align: center;
  position: relative;
}

h2:after {
  bottom: -1rem;
  left: 10%;
  content: "";
  position: absolute;
  width: 80%;
  height: 4px;
  background: var(--mainColor);
}

header {
  height: 3rem;
  display: flex;
  padding: 0 2rem;
  align-items: center;
  color: #fff;
  background-color: var(--bgDark);
}

main {
  padding: 4rem;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
  gap: 2rem;
}

main section {
  min-height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* loaders */

@keyframes loaderSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-1 {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: solid 5px var(--bgLight);
  border-top: solid 5px var(--mainColor);
  animation: loaderSpin 2s linear infinite;
}

.loader-2 {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: solid 5px var(--bgLight);
  border-top: solid 5px var(--bgColor);
  animation: loaderSpin 2s linear infinite;
}

.loader-3 {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: solid 8px var(--mainColor);
  border-top: solid 8px var(--bgColor);
  animation: loaderSpin 2s linear infinite;
  position: relative;
}

.loader-3:after {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: solid 8px var(--mainColor);
  border-top: solid 8px var(--bgColor);
  animation: loaderSpin 1s linear reverse infinite;
  position: absolute;
  content: "";
  top: 0.5rem;
  left: 0.5rem;
}

.loader-4 div {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: #fff;
  animation: loader-4 1.6s ease-in-out alternate infinite;
}

.loader-4 {
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
}

.loader-4 div:first-child {
  animation-delay: -0.32s;
}

.loader-4 div:nth-child(2) {
  animation-delay: -0.16s;
}

@keyframes loader-4 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loader-5 div {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: #fff;
  animation: loader-5 1s ease-in-out alternate infinite;
}

.loader-5 {
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
}

.loader-5 div:first-child {
  animation-delay: -0.5s;
}

.loader-5 div:nth-child(2) {
  animation-delay: -0.25s;
}

@keyframes loader-5 {
  0% {
    transform: translateY(-1em);
  }
  100% {
    transform: translateY(1rem);
  }
}

.loader-6 {
  width: 10rem;
  height: 1rem;
  background: var(--bgLight);
  position: relative;
  border-radius: 3rem;
  overflow: hidden;
}

.loader-6:after {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  background: var(--mainColor);
  animation: loader-6 5s ease-in-out infinite;
}

@keyframes loader-6 {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.loader-7 {
  width: 10rem;
  height: 1rem;
  position: relative;
  border-radius: 3rem;
  overflow: hidden;
  border: solid 1px var(--bgLight);
}

.loader-7:after {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  background: var(--mainColor);
  animation: loader-7 2s ease-in infinite;
  top: 0%;
  transform-origin: left;
}

@keyframes loader-7 {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  50% {
    transform: scaleX(1);
    transform-origin: left;
  }
  51% {
    transform-origin: right;
  }
  90% {
    transform: scaleX(0);
    transform-origin: right;
  }
  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}

.loader-8 {
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
  justify-content: center;
  align-items: center;
}

.loader-8 div {
  display: block;
  width: 0.5rem;
  height: 3rem;
  background-color: var(--mainColor);
  border-radius: 2rem;
  animation: loader-8 2s ease-in-out alternate infinite;
}

@keyframes loader-8 {
  0% {
    height: 1rem;
  }
  100% {
    height: 4rem;
  }
}

.loader-8 div:nth-child(1) {
  animation-delay: -0.5s;
}
.loader-8 div:nth-child(2) {
  animation-delay: -0.25s;
}
.loader-8 div:nth-child(4) {
  animation-delay: 0.25s;
}
.loader-8 div:nth-child(5) {
  animation-delay: 0.5s;
}

.loader-9 {
  font-family: var(--headerFont);
  color: #fff;
  font-size: 2rem;
  position: relative;
}

.loader-9:after {
  content: ".";
  position: absolute;
  right: -2rem;
  animation: loader-9 1s ease-in-out infinite;
}
.loader-9:before {
  content: ".";
  position: absolute;
  right: -1rem;
  animation: loader-9 1s ease-in-out infinite;
  animation-delay: -0.25s;
}

@keyframes loader-9 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loader-10 {
  content: "";
  font-family: var(--headerFont);
  color: rgba(255, 255, 255, 0);
  font-size: 2rem;
  position: relative;
  overflow: hidden;
}
.loader-10:before {
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  content: "";
  animation: loader-10 4s ease-in-out infinite;
}

@keyframes loader-10 {
  0% {
    content: "l";
  }
  10% {
    content: "lo";
  }
  20% {
    content: "loa";
  }
  30% {
    content: "load";
  }
  40% {
    content: "loadi";
  }
  50% {
    content: "loadin";
  }
  60% {
    content: "loading";
  }
  70% {
    content: "loading.";
  }
  80% {
    content: "loading..";
  }
  90%,
  100% {
    content: "loading...";
  }
}

/* buttons */

button {
  font-family: var(--mainFont);
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  background: none;
  border: none;
  cursor: pointer;
  background: var(--mainColor);
  padding: 1rem 2rem;
  display: flex;
  color: #fff;
  border-radius: 0.5rem;
  transition: 0.3s ease-in-out;
  position: relative;
}

.btn-1 {
  border: 2px solid var(--mainColor);
}

.btn-1:hover {
  background-color: var(--mainColorDark);
  border: 2px solid var(--mainColorDark);
}

.btn-2:after {
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  top: -3px;
  left: -3px;
  content: "";
  position: absolute;
  z-index: -1;
  background: #fff;
  border-radius: 0.6rem;
  transform: scaleX(0);
  transition: 0.5s ease-in-out;
}

.btn-2:hover:after {
  transform: scaleX(1);
}

.btn-2:after:active {
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  top: -3px;
  left: -3px;
  content: "";
  position: absolute;
  z-index: -100;
  background: #fff;
  border-radius: 0.6rem;
  transition: 0.5s ease-in-out;
}

.btn-3 {
  border: solid 2px var(--mainColor);
}

.btn-3:hover {
  background-color: var(--bgColor);
  border: solid 2px var(--mainColor);
  color: var(--mainColor);
}

.btn-4:hover {
  transform: scale(1.1);
  box-shadow: 0 0rem 2rem -1rem rgba(255, 255, 255, 0.507);
}

.btn-5 {
  background: transparent;
  overflow: hidden;
}

.btn-5:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--mainColor);
  content: "";
  z-index: -2;
}

.btn-5:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #fff;
  content: "";
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.btn-5:hover {
  color: var(--mainColor);
}

.btn-5:hover:after {
  height: 100%;
}

.btn-6 {
  background: var(--bgColor);
}

.btn-6:before {
  position: absolute;
  content: "";
  top: -3px;
  left: -3px;
  height: calc(100% + 6px);
  width: calc(100% + 6px);
  background: linear-gradient(
    270deg,
    #ffd631,
    #ff9d3b,
    #ff5950,
    #9e4bec,
    #6192fd,
    #5becff,
    #7bffa9
  );
  background-size: 500% 500%;
  z-index: -1;
  border-radius: 0.6rem;
}

.btn-6:hover:before {
  background: linear-gradient(
    270deg,
    #ffd631,
    #ff9d3b,
    #ff5950,
    #9e4bec,
    #6192fd,
    #5becff,
    #7bffa9
  );
  background-size: 500% 500%;
  animation: btn-6 2s linear alternate infinite;
}
@keyframes btn-6 {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.btn-7 {
  border-radius: 0;
  background-color: transparent;
  transition: 0.3s 0.4s;
  color: #fff;
}

.btn-7:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: solid 1px #fff;
  border-bottom: solid 1px #fff;
  transform-origin: left;
  transition: 0.3s ease-in;
  transform: scaleX(0);
  z-index: -2;
  box-sizing: border-box;
}
.btn-7:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: right;
  transition: 0.3s 0.3s ease-in;
  background: #fff;
  transform: scaleX(0);
  z-index: -1;
}
.btn-7:hover {
  color: var(--bgDark);
}

.btn-7:hover::before {
  transform: scaleX(1);
}
.btn-7:hover::after {
  transform: scaleX(1);
}

.btn-8:active {
  transition: 0.05s ease-in-out;
  background: var(--mainColorDark);
}

.btn-8:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 0.5rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 0.5rem 2rem var(--bgLight);
}
.btn-8:active::before {
  box-shadow: 0 0 0 0 var(--bgLight);
  position: absolute;
  border-radius: 0.5rem;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

.btn-9 {
  transition: 0.3s ease-in-out;
}

.btn-9:active {
  transform: scale(0.95);
  background: var(--mainColorDark);
  transition: 0.05s ease-in-out;
}

.btn-10 {
  transition: 0.3s ease-in-out;
}

.btn-10:active {
  transform: rotate(5deg);
  background: var(--mainColorDark);
  transition: 0.05s ease-in-out;
}
